// Color
$color-primary: #242424;

$color-gray-light: #f4f4f4;
$color-gray-medium: #d3d3d3;
$color-gray-dark: #707070;
$color-gray-darker:#444;

$color-shadow-light: rgba(0, 0, 0, 0.1);
$color-shadow-dark: rgba(0, 0, 0, 0.2);

$color-white: #ffffff;
$color-black: #000000;

$color-red: #dc0000;

// Font Size
$font-size-h1: 4rem;
$font-size-h2: 2.5rem;
$font-size-base: 1.8rem;
$font-size-buttons-nav: 2rem;
$font-size-annotation: 1.2rem;

// Break Points
$bp-medium: 750px;
$bp-small: 450px;

// Break Points
// $bp-largest: 75em;     // 1200px
// $bp-large: 68.75em;    // 1100px
// $bp-medium: 56.25em;   // 900px
// $bp-small: 37.5em;     // 600px
// $bp-smallest: 31.25em; // 500px
