html {
  height: 100%;
}
body {
  background-color: lightgrey;
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
  min-height: 100%;
  display: grid;
  grid-template-rows: 100px auto auto auto 400px;
}
nav {
  background-color: #242424;
  color: white;
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-left: 10vw;
  padding-right: 10vw;
}
#logo {
  background: url(./images/Logo-Simple-70.png) no-repeat;
  height: 70px;
  width: 80px;
}
nav ul {
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-inline-start: 0;
}
nav ul li:first-child {
  justify-self: flex-start;
}
nav ul li {
  list-style-type: none;
  margin: 0 0 0 30px;
}
.nav-link {
  text-transform: uppercase;
  font-size: 1.1em;
  letter-spacing: .1em;
  padding: 8px 0 8px 0;
}
.nav-link:link,
.nav-link:visited {
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
}
.nav-link:hover,
.nav-link:active {
  border-bottom: 2px solid white;
}
.section {
  padding-top: 100px;
  padding-bottom: 100px;
}
.container {
  box-sizing: border-box;
  background-color: #efeeee;
  width: 100vw;
  padding-left: 10vw;
  padding-right: 10vw;
}
.container:nth-child(2n) {
  background-color: white;
}
footer {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  background-color: #242424;
  color: white;
  width: 80vw;
  padding-left: 10vw;
  padding-right: 10vw;
  grid-row-start: 5;
  grid-row-end: 6;
}
#footer-logo {
  position: relative;
  left: 44%;
  /* left: 40%; */
  top: -45px;
  background: url(./images/Logo-90.png) no-repeat;
  height: 90px;
  width: 90px;
}
.footer-tagline {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
}
.footer-tagline h1 {
  text-transform: uppercase;
  font-size: 2.5em;
  letter-spacing: 0.1em;
  margin: 0;
}
.social-icons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
}
.social-icons-container img {
  height: 40px;
  width: 40px;
  padding-left: 20px;
  padding-right: 20px;
}
.copyright {
  color: #8c8c8c;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
}
.copyright p {
  margin: 0;
}
