html {
  height: 100%;
}
body {
  background-color: #f4f4f4;
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
  min-height: 100%;
  display: grid;
  grid-template-rows: 100px auto auto auto 400px;
  font-size: 1em;
  overflow: none;
}
h1 {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 2.5em;
  margin: 0;
}
h2 {
  color: #767676;
  font-weight: 400;
  font-size: 1.7em;
}
p {
  text-align: center;
  line-height: 1.8em;
}
nav {
  background-color: #242424;
  color: white;
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-left: 10vw;
  padding-right: 10vw;
}
#logo {
  background: url(./images/new-logo-70.png) no-repeat;
  height: 70px;
  width: 80px;
}
nav ul {
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-inline-start: 0;
}
nav ul li:first-child {
  justify-self: flex-start;
}
nav ul li {
  list-style-type: none;
  margin: 0 0 0 30px;
}
.nav-link {
  text-transform: uppercase;
  font-size: 1.1em;
  letter-spacing: .1em;
  padding: 8px 0 8px 0;
}
.nav-link:link,
.nav-link:visited {
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
}
.nav-link:hover,
.nav-link:active {
  border-bottom: 2px solid white;
}
.container {
  box-sizing: border-box;
  background-color: #f4f4f4;
  width: 100vw;
  padding-left: 10vw;
  padding-right: 10vw;
}
.container-contact {
  background-color: #f4f4f4;
  box-sizing: border-box;
  width: 100vw;
  padding-left: 10vw;
  padding-right: 10vw;
}
.container:nth-child(2n) {
  background-color: white;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}
.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 145px;
}
.section-aboutme {
  display: flex;
  justify-content: center;
}
.section-aboutme h1 {
  padding-right: 20px;
  padding-left: 20px;
}
.tagline-header-about {
  max-width: 500px;
  text-align: center;
}
.tagline-header-contact {
  max-width: 660px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.section-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.no-bottom-padding {
  padding-bottom: 0;
}
.sills-bubbles {
  width: 700px;
  height: 423.5px;
}
.monitor {
  width: 250px;
  height: 216px;
}
form {
  width: 660px;
}
.form-section-1 {
  display: flex;
  justify-content: space-between;
}
.form-section-2 {
  display: flex;
  padding-top: 50px;
}
.form-section-2 .input-container {
  width: 100%;
  overflow: none;
}
form .input-container > * {
  display: block;
  box-sizing: border-box;
}
form .input-container input {
  height: 50px;
  padding: 6px 10px;
}
form .input-container textarea {
  margin: 0;
  max-width: 100%;
  min-width: 100%;
}
.form-item-left {
  width: 50%;
  margin-right: 10px;
}
.form-item-right {
  width: 50%;
  margin-left: 10px;
}
.form-item-left input,
.form-item-right input {
  width: 100%;
}
label {
  color: grey;
  margin-bottom: 10px;
  font-size: 1.2em;
}

input,
textarea {
  margin: 0px;
  padding: 10px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  line-height: 1.5;
}

footer {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  background-color: #242424;
  color: white;
  width: 80vw;
  padding-left: 10vw;
  padding-right: 10vw;
  grid-row-start: 5;
  grid-row-end: 6;
}
#footer-logo {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: -45px;
  background: url(./images/new-logo-bordered-90.png) no-repeat;
  height: 90px;
  width: 90px;
}
.tagline-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
}
.tagline-footer h1 {
  text-transform: uppercase;
  font-size: 2.5em;
  letter-spacing: 0.1em;
  margin: 0;
}
.social-icons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
}
.social-icons-container img {
  height: 40px;
  width: 40px;
  padding-left: 20px;
  padding-right: 20px;
}
.copyright {
  color: #8c8c8c;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
}
.copyright p {
  margin: 0;
}
.svg {
  height: 40px;
  width: 40px;
  padding-left: 20px;
  padding-right: 20px;
  transition: .3s;
}
.svg:hover {
  stroke: white;
}

@media only screen and (max-width: 750px) {
  body {
    font-size: .8em;
  }
  form {
    width: 100%;
  }
  .form-item-left {
    width: 100%;
    margin-right: 0;
  }
  .form-item-right {
    width: 100%;
    margin-left: 0;
    margin-top: 25px;
  }
  .form-section-2 {
    padding-top: 25px;
  }

  .form-section-1 {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
  }
}
