.portfolio-grid {
  width: auto;
  max-width: 1240px;
  margin: 65px auto 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
  @media screen and (max-width: 780px) {
    grid-template-columns: 1fr;
  }
}
.card {
  color: $color-gray-darker;
  background: $color-white;
  text-decoration: none;
  border: 1px solid $color-gray-medium;
  box-shadow: 0 2px 5px $color-shadow-light;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.project {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100px;
  overflow: hidden;
  background: #222;
  .project--info {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 1;
    .project--title {
      position: relative;
      h2 {
        display: inline-block;
        padding-bottom: 0.4em;
        color: #fff;
        span {
          transition: all 0.25s ease;
          transition-delay: 0.25s;
          opacity: 0;
          transform: translateY(10px);
        }
        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;
          height: 2px;
          background: #fff;
          transition: all 200ms ease;
          width: 0;
          margin-left: 0;
        }
      }
    }
    .project--summary,
    .project--stack {
      color: $color-white;
      transition: all 0.4s ease;
      transition-delay: 0.7s;
      opacity: 0;
      line-height: 1em;
      padding: 0.5em 0.5em 0 0.5em;
    }
    .project--summary {
      font-style: italic;
    }
    .project--stack {
      line-height: 1.4em;
    }
  }
  .overlay {
    background: #242424;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 0;
  }
  img {
    display: block;
    width: 100%;
    height: auto !important;
  }
  img,
  .overlay {
    transition: opacity 1s, transform 1s;
  }
  &:hover,
  &:active {
    .overlay {
      opacity: 0.85;
    }
    img {
      transform: scale3d(1.1, 1.1, 1);
    }
    .project--info {
      .project--title {
        h2 {
          span {
            opacity: 1;
            transform: translateY(0);
          }
          &::after {
            width: 100px;
            margin-left: -50px;
          }
        }
      }
      .project--summary,
      .project--stack {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}
