<%- include('partials/header') %>

    <div class="container flex-center padding-top-bottom">
        <div class="page-heading">
            <img class="page-heading__line" src="/static/images/HR-short.svg"
                alt="#">
            <h1 class="page-heading__text">About Me</h1>
            <img class="page-heading__line" src="/static/images/HR-short.svg"
                alt="#">
        </div>
        <img class="profile-img"
            src="/static/images/ProfilePicCircular-250.png">
        <h2 class="tagline">Software Developer</h2>

        <p class="section__about--p">Before getting into tech I worked
            construction. I’ve worked as a landscaper, solar installer, and
            fiber optic cable lineman. After moving to Colorado in 2016, I made
            a decision to change careers. I’ve always loved technology and
            decided to pursue a career in web development. After taking some
            online courses, I started to become more confident in my skills.
        </p>

        <p class="section__about--p padding-top-20">At the beginning of 2019, I
            was accepted into a paid Full-stack apprenticeship program with
            Techtonic in Boulder. The program covered web fundamentals as well
            as popular technologies like React, Node, Express, MongoDB, and
            Google Cloud. After completing the class portion I worked for their
            client StickerGiant as a DevOps Engineer where I implement
            continuous integration and automated deployments in the AWS Cloud.
        </p>

        <p class="section__about--p padding-top-20">In March of 2020, all work
            was paused due to COVID. Shortly after I launched this portfolio
            website. During my time off I refreshed an old project, made some
            open source contributions, and sat for some AWS exams. I then signed
            a contract with Boston Productions and helped them build a backend
            in AWS to support 5 touchscreen applications used by visitors at the
            Tennessee State Library Archives.
        </p>

        <p class="section__about--p padding-top-20">I’ve learned a lot in this
            short period of time and am extremely happy with my decision to
            switch careers. Gaining experience and growing as an engineer are
            things I truly look forward to. If you want to see personal projects
            then check out my portfolio page. Feel free to reach out with
            questions. Thanks for reading!</p>

    </div>
    <!-- <div class="container no-bottom-padding">
    <div class="section__skills">
        <div data-aos="fade-up" data-aos-anchor-placement="top-bottom">
            <img class="section__skills--bubbles" src="/static/images/skills-bubbles.png"
                alt="">
        </div>
        <div data-aos="fade-left">
            <img class="section__skills--monitor" src="/static/images/monitor.png"
                alt="computer-icon">
        </div>
    </div>
</div>
<div class="container flex-center padding-top-bottom">
    <h2 class="chartjs__header">Pluralsight Skill IQ</h2>
    <canvas class="chartjs__chart" id="myChart"></canvas>
    <div class="chartjs__key">
        <p>&nbsp;&nbsp;0 - 100 Novice</p>
        <p>100 - 200 Proficient</p>
    </div>
    <p class="chartjs__annotation">* This is based on pluralsights skills IQ
        tests.
    </p>
</div> -->

    </div>

    <%- include('partials/footer') %>