<%- include('partials/header') %>

<div class="container flex-center padding-top-bottom">
    <div class="page-heading">
        <img class="page-heading__line" src="/img/icons/HR-short.svg" alt="#">
        <h1 class="page-heading__text">About Me</h1>
        <img class="page-heading__line" src="/img/icons/HR-short.svg" alt="#">
    </div>
    <img class="profile-img" src="/img/images/ProfilePicCircular-250.png">
    <h2 class="tagline">I’m a web developer based in
        Boulder, Colorado.</h2>
    <p style="max-width: 1288px;">I have spent the past year building web
        applications, working across the entire stack.
        I have experience working with HTML, CSS, Javascript, Node.js, Express,
        SQL/NoSQL Databases, Java, Bash, Docker,
        Kubernetes and both GCP and AWS Cloud Providers. Since making the
        transition into DevOps, I have acquired my AWS
        Certified Cloud Practitioner Certificate, set up a development
        environment
        in Kubernetes and implemented a CI/CD
        pipeline using AWS CodeDeploy and GitHub Actions. I am currently open to
        opportunities in Web Development as well
        as DevOps roles.
    </p>
</div>
<div class="container no-bottom-padding">
    <div class="section-skills">
        <div data-aos="fade-up" data-aos-anchor-placement="top-bottom">
            <img class="skills-bubbles" src="/img/images/skills-bubbles.png"
                alt="">
        </div>
        <div data-aos="fade-left">
            <img class="monitor" src="/img/images/monitor.png"
                alt="computer-icon">
        </div>
    </div>
</div>
<div class="container flex-center padding-top-bottom">
    <h2 class="header-chart">Pluralsight Skill IQ</h2>
    <canvas id="myChart" style="max-width: 1288px;"></canvas>
    <div class="chart--key">
        <p>
            &nbsp;&nbsp;0 - 100 Novice</p>
        <p>100 - 200 Proficient</p>
    </div>
    <p class="chart--annotation">* This is based on pluralsights skills IQ
        tests.
    </p>
</div>

</div>

<%- include('partials/footer') %>