<%- include('partials/header') %>


<div class="container padding-top-bottom">
    <div class="section-portfolio">
        <img class="svg--line" src="/img/icons/HR-short.svg" alt="#">
        <h1 class="main--header">Portfolio</h1 class="main--header">
        <img class="svg--line" src="/img/icons/HR-short.svg" alt="#">
    </div>
    <div class="portfolio-grid">
        <div class="card">
            <a href="https://github.com/jacobguinther/Portfolio-Website"
                class="thumb"
                style="background-image: url('/img/images/Logo_JG.png');">
            </a>
            <article>
                <h1 class="card--header">Portfolio Website</h1>
                <p class="card--topic"><span>Tech Stack:</span></p>
                <p>HTML CSS JS</p>
                <p class="card--topic"><span>Github:</span></p>
                <p><a
                        href="https://github.com/jacobguinther/Portfolio-Website">jacobguinther/Portfolio-Website</a>
                </p>
            </article>
        </div>
        <div class="card">
            <a href="https://github.com/jacobguinther/Mac-Setup" class="thumb"
                style="background-image: url('/img/images/macsetup.png');"></a>
            <article>
                <h1 class="card--header">Mac Setup Scripts</h1>
                <p class="card--topic"><span>Tech Stack:</span></p>
                <p>BASH</p>
                <p class="card--topic"><span>Github:</span></p>
                <p><a
                        href="https://github.com/jacobguinther/Mac-Setup">jacobguinther/Mac-Setup</a>
                </p>
            </article>
        </div>
        <div class="card">
            <a href="https://jg-yelpcamp.herokuapp.com/campgrounds/page-1"
                class="thumb"
                style="background-image: url('/img/images/yelpcamp.png'); border-bottom: 1px solid rgb(238, 238, 238)"></a>
            <article>
                <h1 class="card--header">YelpCamp</h1>
                <p class="card--topic"><span>Tech Stack:</span></p>
                <p>EJS Bootstrap Nodejs Express MongoDB Mongoose Passport</p>
                <p class="card--topic"><span>Github:</span></p>
                <p><a href="https://github.com/jacobguinther/yelpcamp">jacobguinther/yelpcamp
                    </a></p>
                <p class="card--topic"><span>Deployed:</span></p>
                <p><a
                        href="https://jg-yelpcamp.herokuapp.com/campgrounds/page-1">jg-yelpcamp.herokuapp.com/</a>
                </p>
            </article>
        </div>
    </div>
</div>


<%- include('partials/footer') %>