* {
    margin: 0;
    padding: 0;
}
html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
}
body {
    background: white;
}
a,
i,
button {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.9em;
}
.offset {
    margin-top: -52px;
}
.container--scroll-snap {
    overflow: scroll;
    height: 100vh;
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
    position: relative;
}
.nav {
    display: flex;
    height: 52px;
    right: 0;
    left: 0;
    padding: 0 20px;
}
.nav__positioned {
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 4;
    top: 0px;
}
.nav__sticky {
    position: -webkit-sticky;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    /* position: absolute; */
    height: 52px;
    z-index: 5;
    top: 0; 
}


.nav__logo a {
    padding-right: 33px;
    visibility: hidden;
}
.nav__list {
    list-style-type: none;
}
.nav__list li {
    display: inline;
    text-decoration: none;
}
.nav__list--color li a:hover {
    color: #eee;
}
section {
    height: 100vh;
    width: 100vw;
    scroll-snap-align: start;
    position: relative;
    overflow: hidden;
}
.section--centered {
    display: flex;
    justify-content: center;
    align-items: center;
}
.section__one {
    background-image: url("./assets/main_hero_homepage_desktop.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.7s ease;
}
.section__two{
    background-image: url("./assets/homepage_energy_hero_desktop.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.section__three{
    background-image: url("./assets/accessories_desktop_poster.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.section__four {
    background-image: url("./assets/blue-hero-desktop.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.section__content {
    display: flex;
    flex-direction: column;
    color: white;
}
.section__content-one {
    height: 67%;
}
.section__content-two,
.section__content-three {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    height: 95%;
    max-width: 40%;
    text-align: center;
}
.section__content-four {
    height: 85%;
}
.section__header,
.section__buttons,
.section__link {
    display: flex;
    justify-content: center;
}
.section__header {
    font-size: 2em;
}
.sub-heading-container {
    display: flex;
    justify-content: center;
    margin-top: 8px;
    margin-bottom: 25px;
}
.sub-heading-container2 {
    display: flex;
    justify-content: center;
}
.sub-heading-container2 h2 {
    font-weight: 200;
}
button {
    margin: 8px;
    height: 42px;
    width: 250px;
    font-size: 0.8em;
    transition: 0.2s;
    padding: 11px 42px;
    border-radius: 50px;
    border: 3px solid white;
}
.button--white {
    color: black;
}
.button--white:hover {
    background-color: #f7f7f7;
    border: 3px solid #f7f7f7;
}
.button--transparent {
    background-color: transparent;
    color: white;
}
.button--transparent:hover {
    background-color: white;
    border: 3px solid white;
    color: black;
}
.button__shop-now,
.button__order-now {
    width: 232px;
    z-index: 1;
}
.button__shop-now {
    margin-top: 60px;
}
.button__order-now {
    margin-top: 25px;
}
.section__link--small {
    margin: 0 8px 0 0;
    border-bottom: 1px solid white;
    font-weight: 200;
    text-transform: none;
}
.footer {
    display: flex;
    align-items: center;
    background-color: white;
    position: absolute;
    bottom: 0;
    z-index: 3;
    height: 85px;
    justify-content: center;
    width: 100%;
}
.footer__list li {
    padding: 20px 5px;
    font-size: 0.8em;
    display: inline;
}
.myvideo {
    top: 0;
    bottom: 0;
}
@media only screen and(min-width: 1920px) {
    .myVideo {
        min-width: 100%;
        min-height: 100%;
    }
}

@media only screen and (max-width: 1030px) {
    .signin {
        display: none;
    }
}
@media only screen and (max-width: 900px) {
    .nav-cars {
        display: none;
    }
    .shop {
        display: none;
    }
}
